body {
    overflow-x: hidden;
}

.navbar {
    background-color: #1fab89;
}

.container-jumbotron {
    padding-top: 6rem;
    background-color: #b4ccc662;
    padding-bottom: 15rem;
}

.myName {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.myProfession {
    font-family: Arial;
    color: rgba(114, 112, 112, 0.933);
}

.about {
    padding-top: 6rem;
    background-color: #f3f4f5;
    color: rgba(80, 78, 78, 0.933);
}

.skills {
    padding-top: 6rem;
    background-color: #a5aca6;
}

.card {
    margin: 5px;
}

.experience {
    color: rgba(114, 112, 112, 0.933);
}

.contact {
    padding-top: 6rem;
    background-color: #f3f4f5;
}

.copyright {
    margin-top: -25px;
    background-color: #00cba9;
}

footer {
    margin-bottom: -16px;
    background-color: #00cba9;
}

.bi {
    text-decoration: none;
    margin: 7px;
}

.bi:hover {
    color: #6f7072
}